.boxed {
    border: 1px solid blue;
}

div {
    text-align: center;
    vertical-align: middle;
}

.circle {
    background: #CCCCCC;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#hometimeouts3 {
    color: black;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
}

#period-1 {
    border: none;
}

#period-2 {
    border: none;
}

#period-3 {
    border: none;
}

#period-4 {
    border: none;
}

#period-OT {
    border: none;
}